{
  "scriptId": "1Xq-yRrhSyKSgeYBxkXeXUXBNui8Y1AwsWj_BJZpoencIQG8Xuiz2M0e3",
  "rootDir": "",
  "scriptExtensions": [
    ".js",
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}
